footer {
	margin-top: 1em;
	text-align: center;
}

h1 {
	font-size: 28px !important;
}

i {
	margin: 0 2px;
}

img {
	display: block;
	margin: auto;
}

.section {
	margin-top: 0.5em;
}

#aboutImg {
	width: 80%;
}

.portfolioImg {
	height: 20em;
	margin: 0.5em auto;
}